@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
}

.header {
    background-image: url("/img/BG-IMG-1.png");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.header img {
    width: 50%;
    height: 30vh;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 5.8rem;
    margin-bottom: 10px;
}
.header p {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.btn {
    background-color: #2d9c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 40px;
    text-decoration: none;
}
.btn:hover {
    background-color: #25732f;
}
.section {
    padding: 80px 20px;
    text-align: center;
}
.section h2 {
    font-size: 3.2rem;
    margin-bottom: 20px;
}
.section p {
    margin-bottom: 20px;
    padding: 0 50px;
    font-size: 1.5rem;
    line-height: 1.5;
}
.extra {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.5;
    color: green;
}
.section img {
    width: 20%;
    margin-bottom: 10px;
}
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 50px;
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    margin-bottom: 20px;
}
.card img {
    height: 20vh;
    width: 100%;
}
.card h3 {
    margin-bottom: 10px;
    font-size: 2.0rem;
}
.card p {
    margin-bottom: 10px;
    font-size: 1.0rem;
}
.card img {
    width: 100px;
    margin-bottom: 20px;
}
.footer {
    background-image: url("/img/BG-IMG.png");
    color: white;
    padding: 40px 20px;
    text-align: center;
}
.footer p {
    font-size: 1.5rem;
}
footer .big {
    font-size: 4rem;
    font-weight: 600;
}
